.camera {
    height: 100vh;
    background-color: rgba(20, 28, 38, 0.75);
    color: #ffffff;
}

.header {
    height: 60px;
}

.logo {
    color: #2f0079;
    font-size: 21px;
    padding-left: 1rem;
    font-style: italic;
}

hr {
    border: 1px solid rgba(47, 0, 121, 0.1);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 21px;
    font-weight: bold;
    margin-top: 32px;
}

.text {
    font-size: 16px;
}

.scan-line {
    width: 290px;
}

.camera-frame {
    margin-top: 27px;
}

.accepted {
    border: 1px solid #69cc8b;
    border-radius: 12px;
    padding: 0.5rem;
}

.rejected {
    border: 1px solid #c00000;
    border-radius: 12px;
    padding: 0.5rem;
}

.hidden {
    display: none;
}

.btn {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.card-frame {
    border-radius: 12px;
    box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.15);
    padding: 1.2rem;
    margin-top: 27px;
}

.btn-action {
    border-radius: 24px;
    box-shadow: 0 10px 20px -5px rgba(47, 0, 121, 0.3);
    padding: 0.8rem 1rem;
    border: none;
    background: #2f0079;
    position: relative;
    bottom: 100px;
    left: 10px;
}

.btn-cancel {
    background: transparent;
    border: none;
}
